


body {background: rgb(201, 240, 143) ;
    padding: 50px;}
h1,
h2,
h3 {color: #063118;
    font-family: cursive;}

img {width: 300px;}
img {width: 300px;}
img {width: 300px;}

.top-zone {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin: 0 0 25px 0;
}
.top-zone {
    background: #6c86ce;
    padding: 20px;
    border-radius: 12px;
}



.main-zone {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin: 0 0 25px 0;
}
.main-zone {
    background: #cfa06b;
    padding: 20px;
    border-radius: 12px;
}
